<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facioli consultores fiscales s.c.</title>

    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../libreria/fontawesome-free-6.6.0-web/fontawesome-free-6.6.0-web/css/all.min.css">
    
    <link rel="shortcut icon" href="../img/Logo-Facioli.png">


</head>
<body>


    <nav class="enlaces" id="enlaces">
        <header class="main-header">

            <i class="fas fa-angle-right" id="btnMenuClosed"></i>

            <div class="logo">
                <h1>Facioli</h1>
                <div class="logo-img">
                    <img src="../img/Logo3.png.jpg" height="50px" width="50px" alt="Logo">
                </div>
            </div>
            
            <div class="menu-bar">
                <nav class="nav-bar">
                    <ul>
                        <li><a href="#hero">Acerca de nosostros</a></li>
                        <li><a href="#servicios"> Servicios</a></li>
                        <li><a href="#contacto"><i class="fa-solid fa-phone"></i> Contacto</a></li>
                    </ul>
                </nav>
            </div>

            <i class="fas fa-bars" id="btnMenuOpen"></i>

        </header>
        
        <section id="hero">
                <div class="negocio-video">
                    <video src="../video/video-facioli.mp4" autoplay muted loop></video>
                </div> 

        </section>
        
        <section id="servicios" class="container">
            <h2 class="section-title">Nuestros Servicios</h2>

            <div class="services-grid">
                
                <div class="service-item">
                    <img src="../img/administración contable.png" alt="" class="img-admi">
                    <h3>Administración</h3>
                    <p>Proporcionamos servicios precisos y oportunos para cumplir con tus necesidades personales o empresariales.</p>
                </div>

                <div class="service-item">
                    <img src="../img/asesoría contal.png" alt="" class="img-asesoria">
                    <h3>Asesoría contal</h3>
                    <p>Mantén tus finanzas organizadas con nuestros servicios integrales de contabilidad.</p>
                </div>
                
                <div class="service-item">
                    <img src="../img/asesoría fiscal.png" alt="" class="img-fiscal">
                    <h3>Planificación Financiera</h3>
                    <p>Planifica para el futuro con asesoramiento financiero estratégico adaptado a tus objetivos.</p>
                </div>
            </div>
        </section>

        <section class="mapa">
            
            <h2 class="title-map">Donde encontrarnos</h2>
            <div class="mapa-facioli">
                

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d898.5893025811918!2d-100.35299923044424!3d25.725698206763916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866296822d8b94c7%3A0x14edec35fffcec1b!2sC.%20Profra.%20Julia%20Villarreal%20510%2C%20Sin%20Nombre%20de%20Col%2015%2C%2064180%20Monterrey%2C%20N.L.!5e0!3m2!1ses!2smx!4v1732631659908!5m2!1ses!2smx" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </section>
        


        <footer id="contacto" class="footer">
            <h3>Contáctanos</h3>
            <p>Correo: Facioli@hotmail.com | Teléfono: +81 1737 7388</p>
            <p>© 2024 Facioli. Todos los derechos reservados.</p>
        </footer>
    </nav>

    <script src="../js/app.js"></script>
</body>
</html>