
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    width: 600px;
    margin: auto;
}

.pregunta{
    margin-bottom: 20px;
}

button{
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #0056b3;
}