:root{
    --color-primario: #2b3a42;    /* Verde azulado profundo */
    --color-secundario: #b8c1ec;    /* Gris azulado claro */
    --color-terciario: #d4d8db;     /* Gris suave para fondos y detalles */
    --color-fondo: #f8f9fb;         /* Blanco suave para el fondo principal */
    --color-texto: #333;             /* Texto oscuro para buena legibilidad */
    --fuente-principal: 'Helvetica', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
}

.main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0px 30px;
    background-color: var(--color-primario);
    color: white;
    z-index: 1;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img{
    height: 50px;
    width: 50px;
}

.logo h1{
    margin-left: 10px;
    font-size: 30px;
}

.menu-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-bar .nav-bar ul li{
    display: inline-block;
    padding: 0 10px;
}

.menu-bar .nav-bar ul li a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-secundario);
    font-weight: 600;

    background: linear-gradient(currentColor, currentColor);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;

    transition: all 0.5s;
}

.menu-bar .nav-bar ul li a:hover{
    color: var(--color-terciario);
    background-size: 80% 2px;
}

.main-header i{
    cursor: pointer;
    color: var(--color-secundario);
    font-size: 30px;
    float: right;
    transition: all 0.5s;

    display: none;
}

.main-header i:hover{
    color: var(--color-terciario);
}

@media screen and (max-width:650px){
    .main-header{
        position: fixed;
        top: 0;
        margin-top: 0;
    }

    .main-header i{
        display: block;
    }

    .menu-bar{
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        width: 100%;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;

        z-index: 5000;
        background: #333;

        transition: all 1s;
        transform: translateX(100%);
    }

    .menu-bar.active{
        transform: translateX(0%);
    }

    .menu-bar i{
        position: absolute;
        right: 50px;
        top: 50px;
    }

    .menu-bar .nav-bar ul li{
        display: block;
        padding: 20px 10px;
        text-align: center;
    }

    .menu-bar .nav-bar ul li a{
        font-size: 20px;
    }
}

.negocio-video video {
    width: 100%;
    height: 950px;
    object-fit: fill;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    text-align: center;
    font-size: 2.2rem;
    color: var(--color-primario);
    margin-bottom: 25px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.service-item {
    background-color: var(--color-fondo);
    border: 1px solid var(--color-terciario);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.services-grid img {
    border-radius: 10px;
}

.service-item:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.title-map {
    text-align: center;
    font-size: 2.2rem;
    color: var(--color-primario);
    margin-bottom: 25px;
}

.footer {
    text-align: center;
    padding: 30px;
    background-color: var(--color-primario);
    color: white;
    margin-top: 30px;
}

.footer p {
    margin: 5px 0;
}

.mapa-facioli{
    display: flex;
}

.mapa .mapa-facioli{
    justify-content: center;
}


